# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.pyc
*cpython-37.pyc
apstatus/__pycache__/models.cpython-37.pyc
*.pyc
apstatus/migrations/0002_auto_20190313_0934.py
hostnames.db
hostnames.db
*.pyc
apstatus/__pycache__/views.cpython-37.pyc
website/__pycache__/settings.cpython-37.pyc
*.pyc
website/__pycache__/settings.cpython-37.pyc
*.pyc
hostnames.db
