<html xmlns="http://www.w3.org/1999/xhtml" style="font-family:fantasy">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="index.css">
</head>
<body>
<div style="text-align:center; position:absolute; top:1%; right:1%;">
	<a href="/admin">Login</a>
</div>
<div style="margin:auto; width:80%; padding:10%; text-align:center;">
<h1>Apstatus</h1>
<table style="width:100%; border: 1px solid black; align:center">
	<tr>
		<th>IP</th>
		<th>{{hour}}:00</th>
		<th>{{hour1}}:00</th>
		<th>{{hour2}}:00</th>
		<th>{{hour3}}:00</th>
		<th>{{hour4}}:00</th>
		<th>{{hour5}}:00</th>
		<th>{{hour6}}:00</th>
		<th>{{hour7}}:00</th>
		<th>{{hour8}}:00</th>
		<th>{{hour9}}:00</th>
		<th>{{hour10}}:00</th>
		<th>{{hour11}}:00</th>
	</tr>
	{%for ap in data%}
	<tr>
		<td style="text-align:center">{{ap.ip}}</td>

		{%if ap.t0 == 0%}
			<td style="background-color:green">
		{%elif ap.t0 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t1 == 0%}
			<td style="background-color:green">
		{%elif ap.t1 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t2 == 0%}
			<td style="background-color:green">
		{%elif ap.t2 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t3 == 0%}
			<td style="background-color:green">
		{%elif ap.t3 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t4 == 0%}
			<td style="background-color:green">
		{%elif ap.t4 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t5 == 0%}
			<td style="background-color:green">
		{%elif ap.t5 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t6 == 0%}
			<td style="background-color:green">
		{%elif ap.t6 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t7 == 0%}
			<td style="background-color:green">
		{%elif ap.t7 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t8 == 0%}
			<td style="background-color:green">
		{%elif ap.t8 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t9 == 0%}
			<td style="background-color:green">
		{%elif ap.t9 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t10 == 0%}
			<td style="background-color:green">
		{%elif ap.t10 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}
		{%if ap.t11 == 0%}
			<td style="background-color:green">
		{%elif ap.t11 == 1%}
			<td style="background-color:red">
		{%else%}
			<td style="background-color:yellow">
		</td>
		{%endif%}

	</tr>
	{%endfor%}
</table>
</div>

</body>
</html>